.container {
 margin-left: auto;
 margin-right: auto;
 width: 280px;
 border: 2px solid black;


@media (min-width: $tablet-width) {
width: 708px;
border: 2px solid black;
  }
@media (min-width: $desktop-width) {
 width: 1220px;
 border: 2px solid black;
   }
 }
