.main-nav {
  width: 320px;
  margin: 0 auto;

  @media(min-width: $tablet-width) {
    width: auto;
    margin: 0;
}

@media(min-width: $desktop-width){

  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 50px;

@media(min-width: $tablet-width){
  display: flex;

  flex-direction: row;
    justify-content:flex-end;
    width: 450px;
    margin: 0 auto;
}
@media(min-width: $desktop-width){
    width: 1200px;
    margin: 0 auto;

}
}
.sate-list {
  min-height: 225px;
@media(min-width: $tablet-width){
  width: 450px;
  min-height: 45px;
  padding-top: -350px;
}
@media(min-width: $desktop-width){

width: 490px;
margin: 0 auto;
    }
  }
