.main-nav {}

.main-nav__toggle {}

.main-nav__wrapper {}

.main-nav__list {}

.site-list__item {
  text-align: center;
  display: block;
  padding-top: 20px;
}

.site-list__menu {
  @include Oswald-medium (20px, $mediumsize-font-weight, $textgreydark-color);
  line-height: 20px;
  text-transform: uppercase;
}
