.page-footer {
  display: block;
  width: auto;
  min-height: 240px;
  background-color: $primary-color;


@media(min-width:$tablet-width){
  min-height: 150px;
}

@media(min-width:$desktop-width){

}
}
.page-footer__center {
   display: flex;
   flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    border: 5px solid blue;

@media(min-width:$tablet-width){
  width: 708px;
}
@media(min-width:$desktop-width){
  width: 1220px;
  }
}
