.page-header__center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  border: 5px solid green;

@media(min-width: $tablet-width){
   width:708px;
}

@media(min-width: $desktop-width){
   width:1220px;
   }
}
