.page-header {}

.page-header__logo {}

.page-header__img {
  width: 320px;
  height: 420px;
  background: url("../img/index-can-mobile@1x.png") 20px 168px no-repeat, url("../img/index-background-mobile@1x.jpg") 0 0 no-repeat;
  margin-bottom: 20px;
}

.page-header__img1 {
  display: inline-block;
  text-align: center;
  @include Oswald-normal (36px, $normalsize-font-weight, $textwhite-color);
  line-height: 36px;

}

.page-header__img2 {
  display: inline;
  padding-left: 70px;
  line-height: 14px;
  @include Oswald-normal (14px, $normalsize-font-weight, $textwhite-color);
  text-transform: uppercase;
}
