.page-footer {
  display: block;
  width: auto;
  background-color: $primary-color;


@media(min-width:$tablet-width){
  min-height: 150px;
}

@media(min-width:$desktop-width){

}
}
.page-footer__center {
   display: flex;
   flex-direction: column;
   justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    border: 5px solid blue;

@media(min-width:$tablet-width){
  width: 708px;
  justify-content: space-between;
  flex-direction: row;
}
@media(min-width:$desktop-width){
  width: 1220px;
  }
}
