.product {
  display: flex;
  width: 280px;
  height: 210px;
  border: 2px ridge silver;
}

.product__link {}

.product__title {
  @include Oswald-normal (16px, $normalsize-font-weight, $textgreydark-color);
  line-height: 20px;
}

.product__list {
  @include Arial-text (12px, $textsilver-color);
  line-height: 16px;
}

.product_img {}

.product__order {
  margin-top: 140px;
  width: 280px;
  height: 40px;
  background: $bigbtm-color;
  line-height: 20px;
  text-transform: uppercase;
  @include Oswald-normal (16px, $normalsize-font-weight, $textwhite-color);
}

.product-more__title {
  @include Oswald-normal (16px, $normalsize-font-weight, $textgreydark-color);
  line-height: 20px;
}

.product-more__text {
  display: inline-block;
  @include Arial-text (12px, $textsilver-color);
  line-height: 16px;
}

.btn {
  display: inline-block;
  background: $primary-color;
  @include Oswald-normal (16px, $normalsize-font-weight, $textsilver-color);
  padding: 10px 76px;
  margin: 20px;
  line-height: 20px;
}
