.product {
  display: flex;
  width: 280px;
  height: 210px;
  border: 2px ridge silver;


@media (min-width: $tablet-width) {
    width: 325px;
    height: 435px;
    margin: 70px 0;
  }

@media (min-width: $desktop-width) {
    width: 245px;
    margin: 70px 0;
  }
}
.product__center{
  display: flex;
  width: 280px;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid red;

  @media(min-width: $tablet-width){
    flex-direction: row;
    flex-wrap: wrap;
    width: 708px;
      }
  @media(min-width: $desktop-width){
   width: 1220px;
  }
}



.product__link {

}

.product__title {
  @include Oswald-normal (16px, $normalsize-font-weight, $textgreydark-color);
  line-height: 20px;
  border: 1px silver green;


@media (min-width: $tablet-width) {

    @include Oswald-normal (16px, $normalsize-font-weight, $textgreydark-color);
    line-height: 20px;
    border: 1px silver green;


}
@media(min-width: $desktop-width) {

    @include Oswald-normal (16px, $normalsize-font-weight, $textgreydark-color);
    line-height: 20px;
    border: 1px silver green;
  }
}

.product__list {
  @include Arial-text (12px, $textsilver-color);
  line-height: 16px;

@media(min-width: $tablet-width) {

    @include Arial-text (12px, $textsilver-color);
    line-height: 16px;
  }

@media (min-width: $desktop-width) {

    @include Arial-text (12px, $textsilver-color);
    line-height: 16px;
  }
}

.product_img {}

.product__order {
  margin-top: 140px;
  width: 280px;
  height: 40px;
  background: $bigbtm-color;
  line-height: 20px;
  text-transform: uppercase;
  @include Oswald-normal (16px, $normalsize-font-weight, $textwhite-color);

@media(min-width: $tablet-width) {

    margin-top: 140px;
    width: 280px;
    height: 40px;
    background: $bigbtm-color;
    line-height: 20px;
    text-transform: uppercase;
    @include Oswald-normal (16px, $normalsize-font-weight, $textwhite-color);
  }

@media(min-width:$desktop-width) {

    margin-top: 140px;
    width: 280px;
    height: 40px;
    background: $bigbtm-color;
    line-height: 20px;
    text-transform: uppercase;
    @include Oswald-normal (16px, $normalsize-font-weight, $textwhite-color);
  }
}

.product__order {}





.btn {
  display: inline-block;
  background: $primary-color;
  @include Oswald-normal (16px, $normalsize-font-weight, $textsilver-color);
  padding: 10px 76px;
  margin: 20px;
  line-height: 20px;

@media(min-width: $tablet-width) {
    display: inline-block;
    background: $primary-color;
    @include Oswald-normal (16px, $normalsize-font-weight, $textsilver-color);
    padding: 10px 76px;
    margin: 20px;
    line-height: 20px;
  }

@media(min-width: $tablet-width) {
    display: inline-block;
    background: $primary-color;
    @include Oswald-normal (16px, $normalsize-font-weight, $textsilver-color);
    padding: 10px 76px;
    margin: 20px;
    line-height: 20px;
  }
}
