.works {
}
  .works__title {
  @include Oswald-normal ($textblack-color, 36px);
  line-height: 60px;
  margin: 20px;
     }

     .works__list {
     }
   .works__description  {
     @include Arial-text (14px)
     font-family: "Arial";
     line-height: 18px;
     margin: 20px;

    }
