@mixin Oswald-normal ($color, $size){
  font: {
    family:"oswald","Arial",sans-serif;
    weight: 400;
    size: $size;
  }
  color:$color;
}

@mixin Oswald-medium ($color, $size){
  font: {
    family: "oswald","Arial",sans-serif;
    weight: 500;
    size: $size;
  }
  color:$color;
}

@mixin Arial-text ($size){
  font: {
    family:"Arial",sans-serif;
    size: $size;
  }
  color:$textblack-color;
}
