$primary-color:rgb(242, 242, 242);
$textsilver-color:rgb(68, 68, 68);
$bigbtm-color:rgb(104, 183, 56);
$textwhite-color:rgb(255, 255, 255);
$textgreydark-color:rgb(17, 17, 17);
$textblack-color:rgb(0, 0, 0);
$coral-light:#ff8282;




$normalsize-font-weight:400;
$mediumsize-font-weight:500;




$phone-width: 320px;
$phone-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1299px;
$desktop-width: 1300px;
