$primary-color:rgb(242, 242, 242);
$textsilver-color:rgb(68, 68, 68);
$bigbtm-color:rgb(104, 183, 56);
$textwhite-color:rgb(255, 255, 255);
$textblack-color:rgb(17, 17, 17);
$font-family: "Oswald","Arial", sans-serif;
