$primary-color:rgb(242, 242, 242);
$textsilver-color:rgb(68, 68, 68);
$bigbtm-color:rgb(104, 183, 56);
$textwhite-color:rgb(255, 255, 255);
$textgreydark-color:rgb(17, 17, 17);
$textblack-color:rgb(0, 0, 0);



$normalsize-font-weight:400;
$mediumsize-font-weight:500;
